{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "chloe", "0.0.3",
        [
         kernel,
         stdlib,
         sasl,
         inets,
         chloe
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib,
         inets
        ]},
       {boot_rel, "chloe"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, chloe, [{incl_cond, include}]}
      ]}.

{overlay, [
          {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/chloe", "bin/chloe"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "../public", "public"}
           ]}.
