[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},

  %% Chloe config
  {chloe,
    [
      {application_server, "http://localhost:4567"},
      {application_server_url, "http://localhost:4567/updates"},
      {port, 8901},
      {doc_root, "./public"},
      {log_dir, "/var/log/chloe"},
      {secret, "YOUR_SECRET_GOES_HERE"}
    ]}
].

